@using JabbR
@using JabbR.ViewModels
@model SettingsViewModel

<!doctype html>  
<html lang="en">  
  <head>
    <meta charset="UTF-8" />
    <title>JabbR</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A real-time chat application." />
    <meta name="keywords" content="chat,realtime chat,signalr,jabbr" />
    <link href="~/images/logo32.png" rel="icon" type="image/png" sizes="32x32">
    <link href="~/images/logo64.png" rel="icon" type="image/png" sizes="64x64">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/themes/default/Chat.css" rel="stylesheet">
    <link href="~/themes/default/Chat.nuget.css" rel="stylesheet">
    <link href="~/themes/default/Chat.bbcnews.css" rel="stylesheet">
    <link href="~/themes/default/Chat.githubissues.css" rel="stylesheet">
    <link href="~/themes/default/Chat.dictionary.css" rel="stylesheet">
    <link href="~/lib/highlightjs/github.css" rel="stylesheet">
    <link href="~/lib-checkin/css/KeyTips.css" rel="stylesheet">
    <link href="~/lib-checkin/css/emoji20.css" rel="stylesheet">
  </head>
  <body>
    <section id="react"></section>
    <script src="app.bundle.js"></script>
  </body>
</html>  
